{% extends 'parent/base.html' %}
{% load i18n %}
{% load jformat %}
{% block title %}post delete{% endblock %}

{% block content %}
    <div class="centered mb-4 text-center">
        <h2 class="h1 m-0">{% trans 'آیا مطمعن هستید که میخواهید خارج شوید؟' %}</h2>
        <br>
        <a href="{% url 'blog:profile' %}" class="btn btn-dark mb-0">{% trans 'برگشت به صفحه پروفایل' %}</a>
    </div>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="centered mb-4 text-center">
            <input type="submit" class="btn btn-primary center" value="{% trans 'خروج' %}">
        </div>
    </form>
{% endblock %}
